
{% load static %}

{% include "teacher/header.html" %} 
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show my-2"   role="alert">
        <ul class="messages my-2">
            {% for message in messages %}
            

                {{ message }}
                
            {% endfor %}
        </ul>
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
        </div>
        {% endif %}

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Teacher List View</h1>
                <div>

                    <form method="post" action="{% url 'file-upload' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="file" name="file" id="" required>
                            <button type="submit"  class="btn btn-warning btn-pill">Bulk Upload </button>

                            <a href="{% url 'teacher-create' %}" class="btn btn-danger btn-pill">Add <i class="fa fa-plus"></i></a>
                    </form>
                </div>


            </div>
            <!-- PAGE-HEADER END -->

            
            <div class="card-tools">
                <form method="get" action="{% url 'all-teacher-view' %}">
                <div class="input-group input-group-sm my-2" >

                  <input type="text" name="search" id="course-search" class="form-control float-right" value="{{ request.GET.search }}" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">

                        
                        <div class="card-header">
                            <h3 class="card-title">Teacher List Table</h3>
                        </div>

                        <div class="card-header">
                           <p class="p-3 m-3">Filer by subject </p>
                            <div class="d-flex">
                                
                            {% for i in subjects %}
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" id="subject-{{i.id}}" data-filter="subject" value="{{i.id}}">
                                    <label class="custom-control-label font-size-base" for="subject-{{i.id}}">{{i.sub_name}} ({{i.teacher_set.all.count}})</label>
                                </li>
                            {% endfor %}
                            
                        </div>

                        </div>

                      
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Image</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Subjects</th>
                                                <th>Phone Number</th>
                                                <th>Room Number</th>
                                                
                                                <th>Satus</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="teacherData">
                                            <!-- TABLE DETAILS -->
                                            <!-- looping thorugh courses  -->

                                            {% for teacher in teachers %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    
                                                    <img class="d-block img-fluid br-5 img-td"
                                                        src="{% if teacher.teacher_profile_pic %}{{teacher.teacher_profile_pic.url}}{% else %}{% static 'teacher/assets/images_ex/No_image_available.svg.webp' %}{% endif %}" alt="">
                                                
                                                </td>
                                                <td> {{teacher.teacher_first_name}}</td>
                                                <td>
                                                    {{teacher.teacher_last_name}}
                                                </td>
                                                <td>
                                                    {% for subject in teacher.teacher_subjects.all %}
                                                    {{subject}},
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {{teacher.teacher_phone_number}}
                                                </td>
                                                <td>
                                                    {{teacher.teacher_room}}
                                                </td>

                                                
                                               
                                                <td>
                                                    {% if teacher.is_active %}
                                                    <button class="btn btn-success"><span >Active</span></button>
                                                    {% else %}
                                                    <button class="btn btn-danger"> <span >Inactive</span></button>
                                                    {% endif %}


                                                </td>
                                                <td>
                                                    <a class=" btn btn-info" href="{% url 'teacher-update' teacher.pk %}">
                                                        <i class="side-menu__icon fe fe-edit"></i>
                                                    </a>

                                                    <a class="btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#modaldemo5" data-teacher-pk="{{ teacher.pk }}">
                                                        <i class="side-menu__icon fe fe-trash text-white"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            {% empty %}
                                            <tr>
                                                <td>
                                                No Teacher Found
                                                </td>
                                            </tr>
                                                {% endfor %}

                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                              

                                <div class="card-body">

                                    <ul class="pagination">

                                        {% if page_obj.has_previous %}
                                        <li class="page-item page-prev"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Prev</a></li>
                                         {% else %}
                                         <li class="page-item page-prev"><a class="btn page-link   disabled" href="#" >&laquo; Prev</a></li>
                     
                                        {% endif %}

                                        <p class="small p-0 m-0 ">
                                            <li class="page-item"><a class="page-link" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
                                            
                                            </p>


                                        {% if page_obj.has_next %}
                                     
                                         <li class="page-item page-next"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                                         {% else %}
                                         <li class="page-item page-next"><a class="btn page-link  bg-gradient-white disabled" href="#">Next &raquo;</a></li>
                  
                                         {% endif %}

                                    
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->



    <div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                    <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                   
                </div>
                <div class="modal-footer justify-content-center">
                <button class="btn btn-success" data-action="delete-teacher">Yes</button>
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <!-- MESSAGE MODAL -->
    <div class="modal  fade" id="description" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="text-primary">Description</h4>
                    <div id="description-content" class="mg-b-20 mg-x-20">
                        <!-- Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Course Detail  MODAL -->
    <div class="modal  fade" id="crsdetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                                
                            </tr>
                            <tr>
                            <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                                
                            </tr>
                            <tr>
                            <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                             </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer justify-content-center">
               
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
     <!-- CUSTOME FILTER JS -->
     <!-- url -->
     <script type=text/javascript>
        var filter_url = "{% url 'teacher-filter-data' %}" </script>

     <script src="{% static 'teacher/assets/js/newcustom.js' %}"></script>
        
    {% include "teacher/footer.html" %} 